html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  margin: 0px;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #f7edcd;
  margin-bottom: 80px;
  color: #30261b;
}

.header {
  padding: 20px 80px 80px 80px;
}

.main {
  max-width: 800px;
  margin: 0px;
  padding: 0px 75px 75px 75px;
}

.navi {
  color: #30261b;
  padding: 20px 40px;
  text-decoration: none;
  letter-spacing: 5.5px;
}

.navi:hover,
.navi:active {
  color: #eabb54;
}

h1 {
  font-size: 85px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: #eabb54;
}

.subline {
  font-size: 25px;
  margin: 0px;
  letter-spacing: 5.5px;
}
.subline::after {
  content: "🧚🏾‍♀️";
}

*::selection {
  background-color: #b1b984;
}
