html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  --background-color: whitesmoke;
  --text-color: #30261b;
  --accent-color: #eabb54;
  --accent-color2: #fdf9e7;
  --accent-color3: #b1b984;
  --accent-text-color: #eabb54;
  --nav-link-active-bg-color: whitesmoke;

  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    var(--accent-color),
    var(--accent-color2)
  );
  margin-bottom: 5rem;
  color: var(--accent-text-color);
  padding: 3rem 1rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: center;
  }
}

.navi {
  color: var(--text-color);
  padding: 0.75rem 0.5rem;
  text-decoration: none;
  letter-spacing: 0.344rem;
  transition: color 0.28s ease-in;
}

.navi:hover,
.navi:active {
  color: var(--background-color);
}

.navi:focus {
  color: var(--accent-color);
  background-color: var(--nav-link-active-bg-color);
  opacity: 0.6;
  padding: 0.5rem 0.75rem;
  border-radius: 0.313rem;
}

@media screen and (min-width: 768px) {
  .navi {
    padding: 1.5rem 1.25rem;
  }
}

a {
  text-decoration: none;
  color: var(--accent-text-color);
}

.subline {
  font-size: 1.563rem;
  margin: 0rem;
  letter-spacing: 0.344rem;
  color: var(--text-color);
}
.subline::after {
  content: "🧚🏾‍♀️";
}

.subline:hover {
  font-size: 1.625rem;
}

*::selection {
  color: var(--accent-color2);
  background-color: var(--accent-color3);
}

.article-heading {
  position: relative;
  left: -1.563rem;
  text-transform: uppercase;
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.313rem;
  background: var(--background-color);
  color: var(--accent-text-color);
}

.hire-me:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}
.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 80ch;
  }
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 8rem;
  }

  .main > *:first-child {
    margin-top: 4rem;
  }
}

.main > *:first-child {
  border-top: none;
}

.main-heading {
  font-size: 5rem;
  margin: 5rem 0rem 1rem;
}

.main-article {
  border-top: 0.125rem solid var(--accent-color);
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
}

@media screen and (min-width: 768px) {
  .main-article-content {
    margin: 3rem auto auto auto;
  }
}

.article-heading {
  position: relative;
  left: -1rem;
}
.experience-header {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.experience-heading {
  display: inline-block;
}

.experience-sub {
  display: inline-block;
}

.footer {
  margin-top: 3rem;
  background-color: var(--accent-color);
  padding: 2rem;
}

.footer-text {
  text-align: center;
  margin: 0;
  color: var(--text-color);
}

.footer-link {
  color: var(--background-color);
}
