html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  margin: 0rem;
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: linear-gradient(180deg, #eabb54, #fdf9e7);
  margin-bottom: 5rem;
  color: #30261b;
  padding: 3rem 1rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.navi {
  color: #30261b;
  padding: 1.5rem 1.25rem;
  text-decoration: none;
  letter-spacing: 0.344rem;
}

.navi:hover,
.navi:active {
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: #eabb54;
}

.subline {
  font-size: 1.563rem;
  margin: 0rem;
  letter-spacing: 0.344rem;
}
.subline::after {
  content: "🧚🏾‍♀️";
}

.subline:hover {
  font-size: 1.625rem;
}

*::selection {
  background-color: #b1b984;
}

.experience-heading {
  display: inline-block;
}

.experience-sub {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -1.563rem;
  text-transform: uppercase;
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.313rem;
  background: whitesmoke;
  color: #eabb54;
}

.hire-me:hover {
  padding: 0.625rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem solid #eabb54;
  padding: 2rem 1rem 0rem 1rem;
}

.main > *:first-child {
  border-top: none;
}

.main-heading {
  font-size: 5rem;
  margin: 5rem 0rem 1rem;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.footer {
  margin-top: 3rem;
  background-color: #eabb54;
  padding: 2rem;
}

.footer-text {
  text-align: center;
  margin: 0;
  color: #30261b;
}

.footer-link {
  color: whitesmoke;
}
